.jumbotron{
    background-color: red;
    width: 1135px;
}
.col-md-4{
    background-color: green;
}
.col-md-8{
    background-color: yellow;
}
table.table-striped{
    color: red;
}
h1{
    text-align: center;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}